@charset "utf-8";

// common
.img-list {
  > li {
    margin-bottom: 30px;
  }

  img {
    width: 100%;
  }
}

// media query
@include mq {
  .img-list {
    img {
      width: 600px;

      &.w500 {
        width: 500px;
      }

      &.w300 {
        width: 300px;
      }

      &.w800 {
        width: 800px;
      }
    }
  }
}
